.Homepage {
  .main-content {
    margin-top: 50px;
  }
  .product-container {
    .product-column {
      @media (max-width: 991px) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
