.item-amount-spinner {
  .btn {
    padding: 0 5px;
    height: 30px;
    background-color: #254252;
    border: none;
  }
  .qty-value {
    height: 30px;
    text-align: center;
    background-color: #254252;
    border: none;
    color: #f9982f;
  }
}
