.main-navbar {
  background-color: #254252;
  font-family: "Poppins";
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  .brand-text {
    color: #eab56f;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .cart-btn {
    background-color: #f9982f;
    border: none;
    position: relative;
    .item-count {
      display: flex;
      justify-content: center;
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 12px;
      font-weight: 700;
      background-color: red;
      border-radius: 10px;
      line-height: 20px;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}
